<h1>Games</h1>

<nav class="games_nav">
<ul>
  <li>Sort By</li>
  <li><a href="/games/available">Available Games</a></li>
  <li><a href="/games/sort/z-a">Z - A</a></li>
  <li><a href="/games/sort/release-date">Release Date by Newest</a></li>
</ul>
</nav>

<nav class="games_nav">
<form action="games/find/genre/" method="get">

  <input type="submit" value="Genre">
  <select name="genre">
    <% @genres.each do |genre| %>
    <option value="<%= genre %>"><%= genre %></option>
    <% end %>
  </select>
</form>

</nav>

<nav class="games_nav">

<form action="games/find/platform/" method="get">

  <input type="submit" value="Platform">
  <select name="platform">
    <% @platforms.each do |platform| %>
    <option value="<%= platform %>"><%= platform %></option>
    <% end %>
  </select>
</form>

</nav>

<nav class="games_nav">
<form action="games/new" method="get">
  <input type="submit" value="Add New Game">
</form>
</nav>

<nav class="games_nav">
<form class="search-bar" action="games/search/" method="get">

  <input type="text" name="word" value="">
  <input type="submit" value="Search">

</form>
</nav>


<% @games.each do |game| %>
<div class="games">
  <p>Name: <%= game.name %></p>
  <p>Genre: <%= game.genre %></p>
  <p>Platform: <%= game.platform %></p>
  <p>Release Date: <%= game.release_date %></p>
  <img src="<%= game.box_art %>" alt="image unavailable">
  <form action="/games/<%= game.id %>/delete" method="post">
    <button type="submit">Delete</button>
  </form>
</div>

<% end %>
