<h1>Games</h1>

<form action="games/new" method="get">
  <input type="submit" value="Add New Game">
</form>

<ul>
  <li>Sort By</li>
  <li><a href="/games/available">Available Games</a></li>
</ul>

<% @games.each do |game| %>
<div class="games">
  <p>Name: <%= game.name %></p>
  <p>Genre: <%= game.genre %></p>
  <p>Platform: <%= game.platform %></p>
  <p>Release Date: <%= game.release_date %></p>
  <img src="<%= game.box_art %>" alt="image unavailable">
  <form action="/games/<%= game.id %>/delete" method="post">
    <button type="submit">Delete</button>
  </form>
</div>

<% end %>
