<h1> Current Rentals </h1>

<nav class="rental_nav">
<form action="rentals/new" method="get">
  <input type="submit" value="Add New Rental">
</form>
</nav>


<%@rentals.each do |rental| %>
<% customer = Customer.find_by_id(rental.customer_id) %>
<% game = Game.find_by_id(rental.game_id) %>

<div class="rentals">
<p>First Name: <%= customer.first_name %></p>
<p>Last Name: <%= customer.last_name %> </p>
<p>Phone: <%= customer.phone_number %></p>

<p>Game: <%= game.name %></p>

<p>Rental Date: <%= rental.date_of_rental %></p>

<form action="rentals/<%= rental.id %>/delete" method="post">
  <input type="submit" value="Return to Stock">
</form>


</div>
<% end %>
