<form method="get" action="/customers/new">
    <button type="submit">Add New Customer</button>
</form>

<% @customers.each do |customer| %>
<div class="customers">
  <p>First Name: <%= customer.first_name %></p>
  <p>Last Name: <%= customer.last_name %></p>
  <p>Phone Number: <%= customer.phone_number %></p>
  <p>Date of Birth: <%= customer.date_of_birth %></p>
  <form action="/customers/<%= customer.id %>/edit" method="get">
    <button type="submit">Edit</button>
  </form>
  <form action="/customers/<%= customer.id %>/delete" method="post">
    <button type="submit">Delete</button>
  </form>
</div>
<% end %>
